/****Form****/

#form {
	padding-top: 19px;
}

#form input {
 	padding: 11px 20px 12px;
  	border: none;
  	background-color: #3a424c;
	width: 100%;
	height: 47px;
	float:left;
	font: 300 15px/24px 'Open Sans', sans-serif;
	color: #9da3ac;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}

#form textarea {
 	padding: 11px 20px 12px;
	width: 100%;
  	border: none;
  	background-color: #3a424c;
	height: 307px;
	position: relative;
	resize:none;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	float:left;
	font: 300 15px/24px 'Open Sans', sans-serif;
	color: #9da3ac;
	margin: 0;
;
	
}
#form label {
	position:relative;
	display: block;
	min-height: 57px;
	float: left;
	clear: left;
	width: 298px;
}

#form label.message {
	width: 100%;
}





#form .error, #form .empty {
	color: #E02A05;
	display: none;
	font-size: 11px;
	line-height:14px;
	width:auto;
	position: absolute;
	z-index: 999;
	top: 8px;
	right: 5px;
	float:left;
}


#form .error-empty {
	display:none;
	float:left;
}

.btns {
	position:relative;
	padding-top: 19px;
	text-align: right;
}




.content .btns a.btn {
	margin: 0 0px 0 0px !important;
	cursor: pointer;
}

.content .btns a.btn+a.btn {

}



.content .none {
	width: 20px;
	display: inline-block;
}

.phone {
	position: relative;
}


/*
#form .message {
	position: relative;
	width: 100%;
}

*/



.message br {
	height: 0;
	line-height: 0;
}

#form .success {
	display: none;
	position: absolute;
	width: 298px;
	background-color: #3a424c;
	text-align: center;
	height: 104px;
	padding: 20px 10px;
	z-index: 999;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}


.success_wrapper {
	position: relative;	
}

@media only screen and (max-width: 995px) {

#form {
	padding-top: 0;	
}


#form label {
	float: none !important;	
	width: 100%;
}

#form input {
	margin-bottom: 10px;
}

#form label.message {
}

#form .success {
	width: 100%;
}

.btns {
	padding-right: 0;
}

#form label.email {
	width: 100%;
	margin: 0;
}

.map figure {
	float: left !important;
	margin-right: 0px !important;
}

}

@media only screen and (max-width: 767px) {
  .map {
	margin-bottom: 25px;
}

.map figure {
	width: 100% !important;
	float: none !important;
	display: block !important;
	margin-right: 0px !important;
}
  .btns {
		padding-bottom: 0;  
  }
  
  #form textarea {
		height: 300px !important; 
  }

   #form {
 	padding-right: 0;
 }
  
}
@media only screen and (max-width: 479px) {

  #form textarea {
		height: 200px !important;  
  }
}