@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700);



a.gal:hover img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
}