@import "reset.css";
@import "skeleton.css";
@import "superfish.css";
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,700);/*       'Open Sans', sans-serif;        */
@import url(//fonts.googleapis.com/css?family=Racing+Sans+One);
/*       'Racing Sans One', cursive;        */
html {
	width: 100%;

}
a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}
* {
	-webkit-text-size-adjust: none;
}
body {
	font: 300 17px/24px flexysans, sans-serif; /*300 15px/24px Open Sans*/
	color: #9da3ac;
	position: relative;
	min-width: 960px;
	background:  #252b33;

}


	strong {
		font-weight: 700;
	}

address {
	font-style: normal;
}

p {
	margin-bottom: 24px;
}

p.p1 {
	margin-bottom: 16px;
}

input {
	border-radius: 0 !important;
	outline: none !important;
}


img {
	max-width: 100%;
}

/****Heads****/


h1, h2, h3, h4, h5, h6 {
	/*font-family: cursive; "Racing Sans One", cursive*/
	font-family: flexysans-Medium, sans-serif;
	font-weight: normal;
	color: #fff;
}

h2 {
	padding-top: 72px;
	text-transform: uppercase;
	font-size: 210px;
	line-height: 210px;
	margin-bottom: 24px;
}

h2>span {
	margin-top: -4px;
	display: block;
	line-height: 30px;
	font-size: 34px;
}

h3 {
	text-transform: uppercase;
	font-size: 25px; /*was 35 by Kate*/
	line-height: 35px;
	margin-bottom: 86px;
	padding-top: 101px;
}


h3.head1 {
	padding-top: 120px;
}

.page1 h3 {
	padding-top: 111px;
	margin-bottom: 133px;
}

.page1 h3.head1 {
	padding-top: 108px;
}




/****Lists****/


ul {
	padding: 0;
	margin: 0;
	list-style: none;
}


ul.list  {
	padding-top: 12px;
}



ul.list  li {
	background: url(../images/marker.png) 0 9px no-repeat;
	padding-left: 17px;
}

ul.list  li+li{
	margin-top: 17px;
}

/****Links****/


a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {
	color: #56cbee; /* 323a45*/
}

a.btn {
	font-size: 12px;
	text-transform: uppercase;
	color: #59c185;
	display: inline-block;
	margin-top: 15px;
}

a.btn:hover {
	color: #fff;
}

/****classes****/

.mb0 {
	margin-bottom: 0px !important;
}
.m0 {
	margin: 0 !important;
}
.pad0 {
	padding: 0 !important;
}

.pad1 {
}


.img_inner {
	max-width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 23px;
	margin-top: 7px;
}



.fleft {
	border-radius: 500px;
	float: left;
	width: auto !important;
	margin-right: 35px;
	margin-bottom: 0px;
	margin-top: 7px;
}



.oh {
	overflow: hidden;
}
.fright {
	float: right !important;
}
.upp {
	text-transform: uppercase;
}

.alright {
	text-align: right;
}
.center {
	text-align: center;
}
.wrapper, .extra_wrapper {
	overflow: hidden;
}
.clear {
	float: none !important;
	clear: both;
}
/*header*/

header {
	position: relative;
	display: block;
	position: static;
	background-color: #56cbee;
}

/*.page1 .h_top>div>div {
	padding-top: 255px;	
	padding-bottom: 143px; added by Kate was 266
}by Kate*/

/*.h_top>div>div {
	padding-top: 60px;	
	padding-bottom: 60px;
}by Kate*/

/*.h_top {
	border-bottom: 1px solid #52bcdd;
}by Kate*/

.p1_img {
	position: absolute;
	left: 0px; /*added by Kate was 10*/
	right: 0px;
	top: 0;
	max-width: none; /*added by Kate*/
}

header h1 {
	position: absolute; /*was relative*/
	top: 40%;
	bottom: 40%;
	left: 0;
	right: 0;
	z-index: 910;
	text-align: center;
}
header h1 a {
	display: inline-block;
	overflow: hidden;
	width: 537px;
	font-size: 0;
	line-height: 0;
	height: 95px;
	text-indent: -999px;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}
header h1 a img {
	display: block;
}



/**Content**/

.content {
padding-bottom: 155px;
background-color: #323a45;
overflow: hidden; /*add by kate*/
}

.page1 .content {
	padding-bottom: 70px;
}

.col1 {
	color: #56cbee;
}

.col1 a:hover, a.col1:hover {
	color: #fff;
}

.col2 {
	color: #68707b;
}

.page1 .upp.col2 {
	margin-bottom: 76px;
}

.blue {
	color: #fff;
	background-color: #13a04f;
}

.blue h3 {
	color: #fff;
	margin-bottom: 33px;
}

a.link1 {
	display: inline-block;
	/*font: 18px/20px 'Racing Sans One', cursive;*/
	font-family: flexysans, sans-serif;
	text-transform: uppercase;
	color: #fff;
	padding: 25px 10px;
	background-color: #59c185;
	min-width: 168px;
	margin-top: 30px;
}

a.link1:hover {
	background-color: #59c185;
}

/*.page1 .blue {
	padding-bottom: 127px;
}by Kate*/

.blue a:hover {
	color: #323a45;
}
.thumb-pad1 .thumbnail {
  position: relative;
  padding: 0;
  margin: 0 0 32px 0;
  border: none;
  border-radius: 0;
  overflow: visible !important;
  box-shadow: none;
}
.thumb-pad1 .thumbnail .caption {
  padding: 21px 0 0 0;
  color: #444052;
  overflow: hidden;
}
.thumb-pad1 .thumbnail .caption .title {
  color: #a2a0aa;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.thumb-pad1 .thumbnail .caption p {
  margin-bottom: 17px;
}
.thumb-pad1 figure {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  border-radius: 500px;
  float: left;
  padding: 9px;
}
.thumb-pad1 figure > img {
  border-radius: 500px;
  margin: 11px;
}
.thumb-pad1 figure > em {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;
  border-radius: 500px;
  border-style: solid;
  border-width: 11px 11px 11px 11px;
  border-color: transparent  #59c185 #59c185 transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.thumb-pad1.pos2 figure > em {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.thumb-pad1.pos3 figure > em {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.thumb-pad1.pos4 figure > em {
	transform: rotate(-225deg);
	-webkit-transform: rotate(-180deg);
}



.thumb-pad1:hover figure > em {
	border-bottom-color: #fff !important;
	border-right-color: #fff !important;
}

.tp1  {
	float: left;
	position: relative;
	top: -48px;
}

.tp1:hover time {
	background-color: #56cbee;
	color: #fff;
	border-color: #56cbee;
}

.thumb-pad1 time {
	-webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
	font-size: 65px;
	margin: 10px;
	border-radius: 500px;
	display: block;
	width: 184px;
	font-weight: bold;
	padding-top: 71px;
	height: 184px;
	color: #474e58;
	text-align: center;
	line-height: 24px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #474e58;
}

.thumb-pad1 span {
	font-weight: normal;
	display: block;	line-height: 24px;
	font-size: 13px;
	color: #fff;
	padding-top: 17px;
	text-transform: uppercase;
}

.content .tp1 figure>em , .content .tp2 figure>em {
	border-bottom-color: #474e58;
	border-right-color: #323a45 !important;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.col2 {
	color: #fff;
}

.cl1 {
	height: 26px;
}

.tp2  {
	margin-left: 10px;
}

.tp2 .thumbnail{
	margin-bottom: 13px !important;
}

.col2.upp {
	letter-spacing: 1px;
}

.soc1 {
	color: #84898f;
	margin-bottom: 109px;
}

.soc1 a {
	display: inline-block;
	font-size: 18px;
	margin-top: -4px;
}

.soc1 a+a {
	margin-left: 24px;

}

.bl2 h3 {
	padding-top: 109px;
	padding-bottom: 66px;
}

.bl2  {
	margin-bottom: 8px;
	padding-bottom: 127px;
}

.block {
	padding-top: 19px;
}

.block>img {
	

	float: left;
	border-radius: 500px;
}

.block p {
	margin-bottom: 17px;
}

.block blockquote img {
	line-height: 0;
	margin-top: 6px;
	margin-right: 5px;
	font-size: 0;
	height: 13px;
}

.block blockquote {
	position: relative;
	margin-left: 116px;
	padding: 24px 30px 26px;
	background-color: #3a424c;
}

.block blockquote:after {
	display: block;
	content: '';
	position: absolute;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 12px 10px 12px 0;
	border-color: transparent #3a424c transparent transparent;
	left: -9px;
	top: 36px;
}

.cl2 {
	height: 11px;
}

a.gal {
	margin: 0 10px 23px 9px;
	display: block;

	/*background: url(../images/magnify.png) center center no-repeat; by Kate*/
}
a.gal img {
	width: 100%;
	border-radius: 500px;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.serv .col2.upp {
	margin-bottom: 16px;
}

a.gal:hover img  {
	opacity: 0.2;
}

.serv {
	overflow: hidden;
	padding-top: 19px;
}

.serv .clear {
	height: 42px;
}

.blog {
	border-bottom: 1px solid #474e58;
	overflow: hidden;
	padding-bottom: 32px;
	padding-top: 12px;
	margin-right: 30px;
}

.blog+.blog {
	margin-top: 20px;
}

.blog .tp1 time {
	font-size: 30px;
	margin: 2px !important;
	width: 75px;
	height: 75px;
	letter-spacing: -1px;
	padding-top: 19px;

}

.blog .thumb-pad1 figure {
	padding: 6px;
}

.blog .tp1 {
	top: 0;
	margin-right: 10px;
}

.blog .tp1 time span {
	padding-top: 0;
	font-size: 8px;
	letter-spacing: 0;
	margin-top: -6px;
}

a.comment {
	float: right;
}

.blog .tp1 figure > em {
	border-width: 5px !important;
}

.blog .col2.upp {
	padding-top: 25px;
}

.blog .thumb-pad1 .thumbnail {
	margin-bottom: 0;
}

.blog .clear {
	height: 23px;
}

.blog a.btn {
	margin-top: 13px;
}

.prv h3 {
	padding-bottom: 12px;
}



.pr p {
	letter-spacing: 0.5px;
	padding-right: 30px;
}
/**Map**/

.map {
	overflow: hidden;
	/*padding-top: 19px; by Kate*/
	padding-right: 30px;
}


.map figure {
	display: block;
	width: 100%;
	margin-bottom: 23px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}


.map figure iframe {
	width: 100%;
	height: 328px;
	max-width: 100%;
}
.map address {
	display: block;
}


.map address dt {
	margin-bottom: 24px;
}

.map address dd span {
	min-width: 98px;
	display: inline-block;
	text-align: left;
}




/**Footer**/
footer {
	position: relative;
	/*border-bottom: 10px solid #56cbee; by Kate*/
	display: block;
	text-align: center;
	padding-top: 165px;
	padding-bottom: 88px;
}

.f_logo {

}



.copy {
	padding-top: 5px;
	font-size: 13px;
	text-transform: uppercase;
	color: #616975;
	padding-bottom: 78px;
}

.f_logo {
	height: 73px;
	overflow: hidden;
}

.socials {
	margin-bottom: 84px;
}

.socials a:hover {
	background-color: #474e58;
}

.socials a {
	display: inline-block;
	font-size: 18px;
	color: #fff;
	text-align: center;
	width: 47px;
	line-height: 46px;
	border-radius: 500px;
	background-color: #56cbee;
	height: 47px;
}

.socials a+a {
	margin-left: 9px;
}

.copy span {
	display: block;
	padding-top: 20px;
}



/**To Top**/

a.top {
	display: inline-block;
	width: 48px;
	height: 48px;
	transition: 0s ease;
	-webkit-transition: 0s ease;
	background: url(../images/totop.png) 0 0 no-repeat;
	padding-bottom: 43px; /*added by Kate*/
}

a.top:hover {
	background-position: right 0;
}

/***Additional***/
.sectorheight {
	min-height: 700px;
}

.logo {
	font-size: 100px;
	text-indent: 0px;
	overflow: visible;
	width: 100%;
	line-height: normal;
	font-family: flexysans-Bold, sans-serif;
}

.logo>span{
	font-size: 50px;
	line-height: 10px;
	font-family: flexysans, sans-serif;
}

a.logo:hover {
	color: #323a45;
}

.video {
	padding-top: 50px;
	padding-bottom: 25px;
}

.video_name {
	margin: 0px 0px;
	padding-top: 0px;
	padding-bottom: 40px;
}

.project_details {
	text-align: justify;
}

.project_details>p {
	padding-top: 20px;
}

.wide {
	width: 100% !important;
	margin: 0 0;
}

h4 {
	text-transform: uppercase;
	font-size: 20px;
}

.darkgrey {
	background-color: #252b33;
}

.nohover {
	cursor: default;
}

.nohover:hover>img{
	opacity: 1 !important;
}

.white {
	color: #fff;
}

.serv .project_details {
	padding-right: 10px;
}

/*==================================RESPONSIVE LAYOUTS===============================================*/


/*==================================START media max-width: 995px===============================================*/

@media only screen and (max-width: 995px) {
 body {
 min-width: 768px;
}

.rel {
	position: relative;
}

 .map address+address {
 	margin-top: 0px;

 }
 .map figure,  .map figure iframe,  #form input,  #form textarea,  #form .success {
 width: 100% !important;
 float: none !important;
}
 #form .success {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}
 .map figure {
 height: auto !important;
}
 .extra_wrapper {
 overflow: visible;
}

.map figure {
	margin-bottom: 15px;
}

.thumb-pad1 figure > img {
	width: 130px;
}

h2 {
	font-size: 100px;
	line-height: 80px;
}

.p1_img {
	left: 0;
}

/*.page1 .h_top > div > div {
	padding-bottom: 140px;
}by Kate*/

a.gal  {
	margin-left: 0;
	margin-right: 0;
}

.logo {
	font-size: 90px;
}

.logo>span{
	font-size: 40px;
}

.h1_base {
	top: 15%;
}

}

/*==================================END media max-width: 995px===============================================*/

/*==================================START media max-width: 767px===============================================*/

@media only screen and (max-width: 767px) {
 body {
 min-width: 420px;
}

.thumb-pad1 figure > img {
	width: 380px;
}

.img_inner {
width: 100% !important;
float: none !important;
margin-right: 0 !important;
margin-bottom: 20px !important;
}
/*.page1 .h_top > div > div {
	padding-top: 100px;
	padding-bottom: 98px;
}by Kate*/

h1 a {
	max-width: 90%;
}


.img_inner img {
	width: 100%;
}


 header h1 {
 margin-bottom: 10px;
 float: none;
 text-align: center;
}
 header h1 a {
 	width: auto;
 	display: inline-block;
 height: auto;
}
 header h1 a img {
}

 .map {
 	padding-right: 0px !important;
 }

 .map figure iframe {
 width: 100%;
 height: 300px;
}
 .map address {
 	margin-right: 0;
}


 .content .noresize {
 width: auto !important;
 float: left !important;
 margin-right: 20px !important;
 margin-top: 4px !important;
}

 .img_inner {
 margin-top: 20px;
}
.cl1, .serv .clear, .cl2  {
	height: 0;
}

.f_logo {
	height: 64px;
}


.block blockquote {

}

.serv a.btn {
	margin-bottom: 25px;
}

.blog {
	margin-right: 0;
}

.logo {
	font-size: 70px;
}

.logo>span{
	font-size: 30px;
}

.da-slider {
	height: 300px;
}

.da-slide>p{
	top: 100px;
}

.h1_base {
	top: 15%;
}

}

/*==================================END media max-width: 767px===============================================*/

/*==================================START media max-width: 479px===============================================*/

@media only screen and (max-width: 479px) {
 body {
 min-width: 300px;
}

a.comment {
	display: inline-block;
	float: none;
}

.f_logo {
	height: 47px;
}

.ind1 .grid_6 {
	margin-bottom: 25px !important;
}

.thumb-pad1 figure > img {
	width: 260px;
}

.thumb-pad1 time {
	width: 110px;
	height: 110px;
	padding-top: 35px;
	font-size: 50px;
}

.thumb-pad1 time span {
	padding-top: 5px;
}

.tp1 {
	top: 0;
}

/*.page1 .h_top > div > div {
	padding-top: 75px;
	padding-bottom: 62px;
}by Kate*/

h2 {
	font-size: 80px;
}

h2 span {
	font-size: 25px;
}

.logo {
	font-size: 40px;
}

.logo>span{
	font-size: 20px;
}

.da-slide>h2{
	font-size: 25px;
	margin-bottom: 0px;
}

.da-slide>p{
	font-size: 16px;
	text-align: left !important;
	top: 70px;
}

.da-slider {
	height: 300px;
}

.h1_base {
	top: 15%;
}


}
.lnk404{
	color: white;
}
.copyright{
	display: inline;
	float: left;
	margin-top: 47px;
}
.copyright_main{
	display: inline;
	float: left;
	/*margin-top: 26px;*/
	text-align: left;
}
.contacts{
	float: right;
	text-align: right;
	
}
.phone{
	font-size: 35px;
	font-weight: 500;
}
span.headerh1{
	position: absolute;
	top: 40%;
	bottom: 40%;
	left: 0px;
	right: 0px;
	z-index: 910;
	text-align: center;
	font-family: flexysans-Medium,sans-serif;
	font-weight: normal;
	color: #FFF;
	background: none repeat scroll 0% 0% transparent;
	font-size: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px none;
	outline: 0px none;
	vertical-align: top;
}
h1.details_h{
	text-transform: uppercase;
	font-size: 20px;
}
h1.details_serv{
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 40px;
	text-transform: uppercase;
	font-size: 25px;
	line-height: 35px;
}
.projects_h1{
	text-transform: uppercase;
	font-size: 25px;
	line-height: 35px;
	margin-bottom: 86px;
	padding-top: 101px;
}
.search_field{
	position: absolute;
	margin-top: 20px;
	width: 150px;
}
.breadcrumbs{
	float: left;
	padding-top: 50px;
}
.breadcrumbs a{
	text-decoration: underline;
}
li.head_contacts, li.head_contacts>a{
	text-transform: none;
	text-align: right;
	position: absolute;
    float: right;
    right: 40px;
	top: -10px;
    
}
li.head_contacts{
	top: -15px;
}
li.head_contacts>a{
	right: 0px;
}
div#menu_container12{
	width: 100%;
}
#grid_12_main_menu{
	width: 100%;
}
div#callback_button{
	width: 45px;
	height: 35px;
	background-color: #13A04F;
	position: absolute;
	top: -1px;
	border-radius: 6px;
	text-align: center;
	font-size: 30px;
	color: white;
	cursor: pointer;
}
div#callback_button_layer{
	width: 45px;
	height: 35px;
	background-color: transparent;
	position: absolute;
	z-index:10;
	top: -1px;
	border-radius: 6px;
	cursor: pointer;
}
.callback_icon{
	top: 13px;
	position: relative;
}
li.head_contacts div{
	margin-bottom: 4px;
}
.callback_popup{
	top: 64px;
	position: absolute;
	width: 350px;
	background-color: rgba(248, 248, 248, 1);
	left: -300px;
	border-radius: 6px;
	text-transform: none;
	text-align: left;
	display: none;
	padding-bottom: 20px;
}
.popup_title{
	font-size: 22px;
	color: #13A04F;
	text-align: left;
	float: left;
	margin: 20px;
	font-weight: 600;
	width: 100%;
}
.callback_popup label{
	display: inline-block;
	width: 85px;
	margin-left: 25px;
	padding-bottom: 10px;
	color: black;
}
.callback_popup input{
	width: 80%;
	margin-left: 25px;
	margin-bottom: 20px;
	padding: 5px;
	border-radius: 6px !important;
}
.callback_popup #callback_submit{
	margin-left: 25px;
	display: inline-block;
	background-color: #13A04F;
	padding: 8px 15px 8px 15px;
	color: white;
	border-radius: 6px;
	float: left;
	margin-right: 25px;
}
.close_modal{
	color: #F00;
    float: right;
	margin-right: 50px;
	cursor: pointer;
	background: url(../images/btn.png) 0 0 no-repeat;
	background-size: contain;
	display: block;
	width: 15px;
	height: 15px;
}
.brif_button{
	padding: 10px 60px 10px 60px;
	display: block;
	background-color: #FF9000;
	color: #FFF;
	text-transform: uppercase;
	float: right;
	border-radius: 8px;
}
.order_form_wraper{
	background-color: #13A04F;
	margin-top: 50px;
	padding-bottom: 50px;
}
.order_form_title{
	text-align: center;
	font-size: 25px;
	color: #FFF;
	padding: 25px;
	text-transform: uppercase;
}
.order_input{
	display: block;
	margin-bottom: 11px;
	padding: 17px 0px 17px 15px;
	width: 100%;
	background-color: #EBECED;
	border: none;
}
.order_form_r{
	float: right;
	width: 50%;
}
.order_form_wraper textarea{
	padding: 17px;
	background-color: #EBECED;
	border: none;
}
.submit_order{
	width: 100%;
	background-color: #FF9000;
	display: block;
	padding: 10px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	border-radius: 8px;
	margin-top: 30px;
}
span.callback_result{
	color: black;
	padding: 20px;
}

span.order_result{
	color: black;
	background-color: #EBECED;
	display: block;
	padding: 25px 0px 25px 25px;
	width: 99.3%;
	border-radius: 8px;
}

/*==================================END media max-width: 479px===============================================*/

