{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Главная{% endblock %}


{% block mainpic %}
<div style="height: 600px;">
<img src="{% static "images/page1_bg.jpg" %}" alt="" class="p1_img">
</div>
{% endblock %}

{% block content %}
<!--==============================Content=================================-->
<div class="content">

  <div class="container_12">
    <div class="grid_12 center">
      <h2>Enjoy<span>Enjoy every moment of <span class="col1">triathlon training </span></span></h2>
      <div class="upp col2">Lorem ipsum dolor sit amet consectetuer adipiscing elit Praesent vest</div>
      <a href="#" class="link1">read more</a>
    </div>
  </div>

  <div class="blue center">

    <div class="container_12">

      <div class="grid_3">
        <h3>Что1 ?</h3>
        <div class="thumb-pad1">
        <div class="thumbnail clearfix">
            <figure><img alt="" src="{% static "images/page1_img1.jpg" %}"><em></em></figure> 
            </div>
        </div>
        <a href="#">sollicitudineied leo pharea </a>
      </div>
      <div class="grid_3">
        <h3>Что2 ?</h3>
        <div class="thumb-pad1 pos2">
        <div class="thumbnail clearfix">
            <figure><img alt="" src="{% static "images/page1_img2.jpg" %}"><em></em></figure>
            </div>
        </div><a href="#">harea aumennec in velit </a>
      </div>
      <div class="grid_3">
        <h3>Что3 ?</h3>
        <div class="thumb-pad1 pos3">
        <div class="thumbnail clearfix">
            <figure><img alt="" src="{% static "images/page1_img3.jpg" %}"><em></em></figure>
            </div>
        </div><a href="#">umennec in velit veaugun </a>
      </div>
      <div class="grid_3">
        <h3>Что4 ?</h3>
        <div class="thumb-pad1 pos4">
        <div class="thumbnail clearfix">
            <figure><img alt="" src="{% static "images/page1_img4.jpg" %}"><em></em></figure>
            </div>
        </div><a href="#">elit veaugun erase diam</a>
      </div>

    </div>
    
  </div>
  <div class="container_12 ind1">
      <div class="grid_12">
        <h3 class="center head1">новинки</h3></div>
        <div class="grid_6">
          
        <div class="thumb-pad1 tp1">
        <div class="thumbnail clearfix">
            <figure><time datetime="2013-01-01">23<span>march</span></time><em></em></figure>
        </div>
        </div>
        <div class="extra_wrapper">
            <p class="p1"><strong class="col2 upp"><a href="#">Veaugun erase diam </a></strong></p>Umennec in velit veaugun erase diam lor innia est. Proin dictum elemum 
            <br>
            <a href="#" class="btn">read more</a>
          </div>
        </div>
        <div class="grid_6">
        
            <div class="thumb-pad1 tp1">
        <div class="thumbnail clearfix">
            <figure><time datetime="2013-01-01">15<span>march</span></time><em></em></figure>
            </div>
        </div>
          <div class="extra_wrapper">
            <p class="p1"><strong class="col2 upp"><a href="#">lor innia esroin </a></strong></p>Umennec in velit veaugun erase diam lor innia est. Proin dictum elemum 
            <br>
            <a href="#" class="btn">read more</a>
          </div>
        </div>
        <div class="clear cl1"></div>
        <div class="grid_6">
        
            <div class="thumb-pad1 tp1">
        <div class="thumbnail clearfix">
            <figure><time datetime="2013-01-01">07<span>march</span></time><em></em></figure>
            </div>
        </div>
          <div class="extra_wrapper">
            <p class="p1"><strong class="col2 upp"><a href="#">erase diam lor in</a></strong></p>Umennec in velit veaugun erase diam lor innia est. Proin dictum elemum 
            <br>
            <a href="#" class="btn">read more</a>
          </div>
        </div>
        <div class="grid_6">
        
            <div class="thumb-pad1 tp1">
        <div class="thumbnail clearfix">
            <figure><time datetime="2013-01-01">30<span>march</span></time><em></em></figure>
            </div>
        </div>
          <div class="extra_wrapper">
            <p class="p1"><strong class="col2 upp"><a href="#">Proin dictumemum </a></strong></p>Umennec in velit veaugun erase diam lor innia est. Proin dictum elemum 
            <br>
            <a href="#" class="btn">read more</a>
          </div>
        </div>
      
    </div>
</div>
{% endblock %}
