{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block page_title %}{{ html_attributes.page_title }}{% endblock %}
{% block page_keywords %}{{ html_attributes.page_keywords }}{% endblock %}
{% block page_description %}{{ html_attributes.page_description }}{% endblock %}
{% block project_act %}current{% endblock %}

<!--==============================Content=================================-->
{% block content %}
<div class="content">
  <div class="container_12 center">
    <div class="grid_12">
		<span class = "breadcrumbs">
    		<a href="/">Главная</a> > {{ html_attributes.page_title }}
    	</span>
      <h1 class="projects_h1">наши проекты</h1>
    </div>
    <div class="clear"></div>
    <div class="serv">
      {% for project in projects %}
      <div class="grid_4">
        <a href="/project_details/{{ project.id }}/" class="gal">
          {% thumbnail project.cover_image "281x281" crop="center" as im %}
          <img alt="{{ project.html_alt }}" title="{{ project.html_title }}" src="{{ im.url }}">
          {% endthumbnail %}
        </a>
        <p class="col2 upp">
          <strong>
            <a href="/project_details/{{ project.id }}/">{{ project.title }}</a>
          </strong>
        </p>
        {{ project.short_description }}
        <br>
        <a href="/project_details/{{ project.id }}/" class="btn">читать далее</a>
      </div>
        {% if forloop.counter|divisibleby:"3" %}
        <div class="clear"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}