{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block page_title %}{{ html_attributes.page_title }}{% endblock %}
{% block page_keywords %}{{ html_attributes.page_keywords }}{% endblock %}
{% block page_description %}{{ html_attributes.page_description }}{% endblock %}
{% block service_act %}current{% endblock %}

<!--==============================Content=================================-->
{% block content %}
<div class="content">
  <div class="container_12 center">
    <div class="grid_12">
    	<span class = "breadcrumbs">
    		<a href="/">Главная</a> > {{ html_attributes.page_title }}
    	</span>
      <h1 class="projects_h1">описание услуг</h1>
    </div>
    <div class="clear"></div>
    <div class="serv">
      {% for service in services %}
      <div class="grid_4">
      {% if service.page_alias %}
      <a href="/service_details/{{ service.page_alias }}/" class="gal">
      {% else %}
      	<a href="/service_details/{{ service.id }}/" class="gal">
      {% endif %}
        
          {% thumbnail service.image "281x281" crop="center" as im %}
          <img alt="" src="{{ im.url }}">
          {% endthumbnail %}
        </a>
        <p class="col2 upp">
          <strong>
		  {% if service.page_alias %}
		    <a href="/service_details/{{ service.page_alias }}/">
		  {% else %}
            <a href="/service_details/{{ service.id }}/">
		  {% endif %}
              {{ service.title | safe }}
            </a>
          </strong>
        </p>
        {{ service.veryshort_description | safe }}
        <br>
        {% if service.page_alias %}
        	<a href="/service_details/{{ service.page_alias }}/" class="btn">читать далее</a>
        {% else %}
        	<a href="/service_details/{{ service.id }}/" class="btn">читать далее</a>
        {% endif %}
      </div>
      {% if forloop.counter|divisibleby:"3" %}
      <div class="clear"></div>
      {% endif %}
    {% endfor %}
    </div>  
  </div>
</div>
{% endblock %}