{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block page_title %}
	{% if service.page_title %}
		{{ service.page_title }}
	{% else %}
		{{ service.title }}
	{% endif %}
{% endblock %}
{% block page_keywords %}{{ service.page_keywords }}{% endblock %}
{% block page_description %}{{ service.page_description }}{% endblock %}
   
<!--==============================Content=================================-->
{% block content %}
<div class="content">
  <div class="container_12">
    <span class = "breadcrumbs">
    		<a href="/">Главная</a> > <a href="/services">{{ html_attributes.page_title }}</a> > {{ service.title }}
    	</span>
    <div class="grid_12 center">
		
      <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
      <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-controls blueimp-gallery-carousel">
          <div class="slides"></div>
          <h3 class="title"></h3>
          <a class="prev">‹</a>
          <a class="next">›</a>
          <a class="play-pause"></a>
          <ol class="indicator"></ol>
      </div>

      <div id="links">
          {% for video in service.servicevideo_set.all %}
          {% thumbnail video.video_image "940x529" crop="center" as cover %}
            <a
              href="{{ video.link }}"
              data-vimeo="{{ video.vimeo_number }}"
              type="text/html"
              data-poster="{{ cover.url }}" 
              rel = "nofollow"
              >
            </a>
          {% endthumbnail %}
          {% endfor %}

        {% for image in service.serviceimage_set.all %}
        {% thumbnail image "940x529" crop="center" as im %}
        <a href="{{ im.url }}" title="" ></a>
        {% endthumbnail %}
        {% endfor %}
      </div>
      <!-- end the Gallery Blueimp -->

	    {% if service.page_h1 %}
		    <h1 class="video_name details_serv">{{ service.page_h1 | safe}}</h1>
	    {% else %}
            <h1 class="video_name details_serv">{{ service.title | safe}}</h1>
	    {% endif %}
      
      <p class="project_details">{{ service.short_description | safe}}</p>

      <div class="serv">

        {% for subservice in service.subservice_set.all %}
        <div class="grid_12">
          <div class="grid_4">
            {% thumbnail subservice.image "281x281" crop="center" as cover %}
            <a class="gal nohover"><img src="{{ cover.url }}" alt=""></a>
            {% endthumbnail %}
          </div>
          <p class="upp white"><strong>{{ subservice.title }}</strong></p>
          <p class="project_details">{{ subservice.descritpion | safe }}</p>
        </div>
        {% endfor %}
		<a href="{% static 'files/Brif_na_razrabptku_kreativnoi_koncepcii_PT.doc' %}" class="brif_button">Cкачать бриф</a>
		
		
      </div>  
    </div>
  </div>
		<div class="order_form_wraper">
			<div class="order_form_title">
			Сделайте заявку прямо сейчас
			</div>
			<div class="container_12">
			<form id="order_form" action="/order">
				<textarea placeholder="Ваша заявка или письмо&#8230;" name="message" cols="50" rows="8"></textarea>
				<div class="order_form_r">
				<input class="order_input" type="text" id="order_user_name" name="user_name" placeholder="Ваше имя">
				<input class="order_input" type="text" name="email" id="order_user_email" placeholder="Ваш е-mail">
				<input class="order_input tel" type="text" id="order_user_tel" name="tel" placeholder="Ваш телефон">
				{% csrf_token %}
				</div>
			
			</form>
			<a href="#" id="submit_order" class="submit_order">Отправить заявку</a>
			</div>
		</div>
</div>

<script src="{{ STATIC_URL }}js/blueimp/blueimp-gallery.min.js"></script>
<script src="{{ STATIC_URL }}js/blueimplocal.js"></script>
<script type="text/javascript">
$(function() {
    $('#submit_order').click(function(){
        var msg   = $('#order_form').serialize();
		var pattern = /^.+@.+[.].{2,}$/i;
        if($('#order_user_name').val()==''){
            alert('Пожалуйста, представьтесь');
            return false;
        };
        if($('#order_user_tel').val()==''){
            alert('Пожалуйста, укажите номер телефона');
            return false;
        };
		if($('#order_user_email').val()==''){
            alert('Пожалуйста, укажите свой email');
            return false;
        }else{
			if(!pattern.test($('#order_user_email').val())){
				alert('Пожалуйста, укажите правильный email');
				return false;
			}
		};
        $.ajax({
          type: 'POST',
          url: '/order/',
          data: msg,
          success: function(data) {
            $('#order_form').html('<span class="order_result">'+data+'</span>');
          },
          error:  function(xhr, str){
                alert('Возникла ошибка: ' + xhr.responseCode);
            }
        });
        return false;
    });
});
</script>
{% endblock %}