{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block page_title %}Карта сайта{% endblock %}
{% block content %}
<div class="content">
<div class="container_12">
		<span class = "breadcrumbs">
    		<a href="/">Главная</a> > Карта сайта
    	</span>
<div class="clear"></div>
<div class="grid_12" style="margin-top:100px">
<ul>
	<li>
		<a href="/">главная</a>
	</li>
	<ul>
		<li>
			<a href="/services/">{{service_attributes.page_title}}</a>
		</li>
		<li>
			<a href="/projects/">{{project_attributes.page_title}}</a>
		</li>
		<li>
			<a href="/contact/">{{contact_attributes.page_title}}</a>
		</li>
	</ul>
</ul>
</div>
</div>
</div>
{% endblock %}

